.profile-page-container {
    min-height: 100vh;
    min-width: 100vw;
    padding-left: 100px;
}
.top-profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-pic {
    border-radius: 300px;
    transform: scale(0.6);
    border: 5px solid white;
}
.profile-stats {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat-nums {
    color: rgb(28, 215, 96);
}
.profile-btns {
    color: white;
    background-color: transparent;
    padding: 10px;
    width: 120px;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid white;
}
.bottom-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-top: 10vh;
}
.profile-top-artists-container,.profile-top-tracks-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.artist-pic,.album-pic{
    height: 90%;
    border-radius: 30px;
}
.profile-artist-label,.profile-tracks-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.profile-artists-card, .profile-tracks-card{
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.track-length {
    position: absolute;
    right: 10px;
}
@media only screen and (max-width:480px) {
    .bottom-profile-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 90vw;
    }
    .profile-top-artists-container,.profile-top-tracks-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        gap: 3vh;
    }
   .profile-page-container{
    padding-left: 3vw;
   }    
}