.profile-page-container {
    min-height: 100vh;
    min-width: 100vw;
    padding-left: 100px;
}
.top-profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.profile-pic {
    border-radius: 300px;
    height: 250px;
    border: 5px solid white;
    margin-bottom: 3vh;
}
.profile-stats {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stat-nums {
    color: rgb(28, 215, 96);
}
.profile-btns {
    color: white;
    background-color: transparent;
    padding: 10px;
    width: 120px;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid white;
}
.bottom-profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-top: 10vh;
}
.profile-top-artists-container,.profile-top-tracks-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    min-height: 280px;
}
.artist-pic,.album-pic{
    height: 63px;
    width: 63px;
    border-radius: 30px;
    background-color: yellow;
}
.profile-artist-label,.profile-tracks-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
}

.profile-artists-card, .profile-tracks-card{
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
}
.track-length {
    position: absolute;
    right: 10px;
}
.track-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.logout {
    margin-left: 20px;
}
.empty-status {
    margin-top: 50%;
    margin-left: 80%;
    width: 100%;
}
@media only screen and (max-width:480px) {
    .bottom-profile-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 90vw;
    }
    .profile-top-artists-container,.profile-top-tracks-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        gap: 3vh;
    }
   .profile-page-container{
    padding-left: 3vw;
   }    
}