.login-page {
    text-align: center;
}

.login-label {
    color: white;
    margin-bottom: 30px;
}

.login-btn {
    color: white;
    font-weight: bold;
    background: rgb(28, 185, 84);
    background: linear-gradient(315deg, rgba(28, 185, 84, 1) 41%, rgba(38, 230, 106, 1) 89%);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
}

