.login-page {
    width: 20vw;
    text-align: center;
}
.login-label {
    color: white;
}
.login-btn{
    margin-top: 20px;
    color: white;
    font-weight: bolder;
    background-color: #1CB954;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    width: 85%;
}