.header-container {
    height: 100vh;
    width: 80px;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #040306;
    box-shadow: 3px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.top-icon {
    width: 40px;
}

.header-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: transparent;
    height: 70px;
    width: 80px;
}

.icon-tag {
    color: white;
    font-size: 12px;
}