.sidebar-container {
    z-index: 100;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040306;
    box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.2);
    bottom: 0;
    height: 70px;
}

button {
    cursor: pointer;
}

.top-icon {
    display: none;
}

.actions-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-btn {
    padding-right: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    border: none;
    height: 70px;
    width: 70px;
    border-top: none;
    transform: rotate(270deg);
}

.header-btn img,
.header-btn p {
    transform: rotate(-270deg);

}

.header-btn img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.icon {
    background-color: transparent;
}

.icon-tag {
    color: white;
    font-size: 12px;
    background-color: transparent;
}

@media screen and (min-width: 600px) {
    .sidebar-container {
        z-index: 100;
        height: 100vh;
        width: 80px;
        position: fixed;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        background-color: #040306;
        box-shadow: 3px 0px 10px 2px rgba(0, 0, 0, 0.2);
    }

    .actions-container {
        display: flex;
        flex-direction: column;
    }

    .top-icon {
        display: flex;
        width: 40px;
    }

    .header-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: none;
        height: 70px;
        width: 70px;
        transform: rotate(0deg);
    }

    .header-btn img,
    .header-btn p {
        transform: rotate(0deg);
    }
}