.playlists-page {
    display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   margin-top: 100px;
   flex-direction: column;
   width: 60vw;
}
.playlist-img {
    width: 100%;
   margin-bottom: 10px;    
}
.playlists-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
    margin-top: 100px;
}
.playlist-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-bottom: 30px;
}
@media only screen and (max-width:480px) {
    .playlists-page {
        width: 90vw;
    }
    .playlists-container {
        flex-direction: column;
        margin-top: 20px;
    }
    .playlist-card{
        width: 100%;
     
    }
}