.artists-page-container {
    min-height: 100%;
    min-width: 100vw;
    padding-top: 50px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artists-page-container h3 {}

.artists-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    justify-content: center;
    align-items: flex-start;
    max-width: 900px;
    margin-top: 100px;
}

.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
    height: 150px;
    width: 150px;
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.artist img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}