.artists-page-container {
    min-height: 100%;
    min-width: 100vw;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artists-container {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.artist img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    object-fit: cover;
}