.artists-page-container {
    min-height: 100%;
    min-width: 100vw;
    padding-top: 50px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artists-page-container h3 {}

.artists-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    justify-content: center;
    align-items: flex-start;
    max-width: 900px;
}

.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
    height: 200px;
    width: 150px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
    text-align: center;
}

.artist:hover {
    transform: scale(1.1);
}

.name {
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
}

.artist img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}



@media screen and (min-width: 600px) {
    .artists-page-container {
        min-height: 100%;
        min-width: 100vw;
        padding-top: 50px;
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}